* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    width: 1280px;
    margin: 0 auto;
    
	}
	
  
.main-menu {

    list-style: none;
    /*убираем маркеры списка*/
    overflow: hidden;
    align-items: center;
    width: 620px;
    margin: 31.5px 330px;
    text-align: center;
    /*  display: flex;
    align-items: center;
    justify-content: center;*/
  
	 
     
}

.main-menu-item {
    float: left;
	font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
	margin-right: 23.5px;
    margin-left: 23.5px;   
}

.main-menu-link {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
    display: block;
    color: #FF0000;
    /* text-align: center; */
}

.title-photo {
    width: 1280px;
}

.text-block {
	 text-align: center;
   	 /* border: 4px double black;
     background-color: chartreuse; */
	    
}

.text-block-title {
     font-style: normal;
     font-weight: bold;
     font-size: 22px;
     line-height: 27px;
	 width: 774px;
     height: 29px;
	 text-transform: uppercase;
     margin: 48px 253px 38px 253px;

}
.text-block-desc {
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 26px;
     text-align: center;
     letter-spacing: 2.4px;
	 color: #373737;
     margin: 0 67.5px 0 67.5px;
    }

.footer-btn {
	
	 font-style: normal;
     font-weight: bold;
     font-size: 12px;
     line-height: 12px;
     letter-spacing: 1.8px;
     text-transform: uppercase;
   	 background: #FF0000;
     border-radius: 4px;
	 color: #FFFFFF;
	 cursor: pointer;
     margin: 84px 544.5px 42px 544.5px;
     width: 191px;
     height: 51px;
	   
}
.footer-copyright {
	font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
	color: #373737;
	letter-spacing: 2.4px;
    padding-right: 105px;
    padding-top: 15px;
    padding-bottom: 29px;
	text-align:right;
}
   







